<form #f="ngForm"> (ngSubmit)="exportContact()"

  <!--
  grace a la variable #f
  plus haut, je peux connaitre
  l'etat de validation du formulaire
  -->
  <h5 class="text-center m-4"
  Ajouter un contact
  </h5>

  <div class="form-group">
    <input type="text"
           name="name"
           required
           class="form-control is-invalid"
           #name="ngModel"
           [class.is-invalid]="name.touched && name.invalid"
           [class.is-valid]="name.valid"
           [(ngModel)]="nouveauContact.name"
           placeholder="saisissez votre nom complet"
    >
    <div class="invalid-feedback">
    vous devez saisir votre nom complet
    </div>
  </div>
  <div class="form-group">
    <input type="text"
           name="username"
           required
           class="form-control"
           #username="ngModel"
           [class.is-invalid]="username.touched && username.invalid"
           [class.is-valid]="username.valid"
           [(ngModel)]="nouveauContact.username"
           placeholder="saisissez votre pseudo"
    >
  </div>
  <div class="form-group">
    <input type="text"
           name="email"
           required
           class="form-control"
           placeholder="saisissez votre email"
    >
  </div>

  <button type="submit" class="btn btn-block btn-success"
  cree le contact
  </button>
</form>
